html{
    background-color: #787d99;
}

nav{
    background-color: blanchedalmond;
}

.texte-personnage1 > h2,.texte-personnage2 >h2{
    background-color: red;

}

#personnage1 p,#personnage2 p{

    background-color: violet;
}

