.banniere{
    width: 100%;
    height: 100%;
}

#personnage1,#personnage2{
    flex-basis: 50%;
    display  : flex;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.vi,.vander{
    flex-basis: 50%;
    width: 300px; 
    margin: 20px; 
    border-radius: 10px;
}

.texte1,.texte2 {
    display  : flex;
    flex-wrap: wrap;    
}

.texte2{
    justify-content: right;
}