main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
}

main p{
  background-color: gainsboro;
}

p,title,h1{
  color : orangered;
}

img{
  border-radius:15px 15px;
  box-shadow: 10px 5px 5px gray;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 5px 5px gray;
}

footer{
  border: thin solid black;
}

ul{
  list-style-type: none;
}
